//删除字符串的引号
div{
    content:unquote("I'm caimin");
    //转小写
    text:to-upper-case(aaaa);
    //转大写
    text:to-lower-case(AaSSX);
    //数字函数简介
    width:percentage(1/12);
    //round() 近似值 四舍五入

    //max() 最大值

    //min() 最小值

    //ceil() 向上取整

    //floor() 向下取整

    //abs() 取绝对值

    //random()随机数
}

